.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.medium-button {
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mode-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background-size: cover;
  height: 40px;
  width: 40px;
}

.dark {
  &.App {
    background-color: #001514 ;
    color: #E1EFEB;
  }

  &.App-link {
    color: #B8D8D0;
  }

  &.back-home {
    background-color: #BCE784;
    border: #BCE784;
    box-shadow: 0px 4px 0px #5A930E;
  }

  .disabled {
    background-color: #D0D0E5;
    color: #000;
    border: #534656;
    box-shadow: 0px 4px 0px #534656;
  }

  &.final-card {
    background-image: url("../assets/TarotCicada.png");
  }

  .incorrect {
    background-color: #9E2D3A;
    border: #72111C;
    box-shadow: 0px 4px 0px #72111C;
  }

  .incorrect:hover {
      background-color: #72111C;
  }

  &.lesson-card {
    background-color: #243535;
  }

  .medium-button:hover {
    background-color: #5A930E;
    box-shadow: 0px 4px 0px #402944;
  }

  .medium-button {
    background-color: #BCE784;
    border: #BCE784;
    box-shadow: 0px 4px 0px #5A930E;
  }

  .mode-button {
    background-color: #d0b132;
    background-image: url("../assets/sun.svg");
  }

  textarea, input {
    border: 2px solid #E8E8FF;
    background-color: #3D4747;
    color: #E8E8FF;
  }
}

.light {
  &.App {
    background-color: #F4F4FF ;
    color: #1C121E;
  }

  &.App-link {
    color: #BCE784;
  }

  &.back-home {
    background-color: #BCE784;
    border: #BCE784;
    box-shadow: 0px 4px 0px #5A930E;
  }

  .disabled {
    background-color: #D0D0E5;
    color: #000;
    border: #534656;
    box-shadow: 0px 4px 0px #534656;
  }

  &.final-card {
    background-image: url("../assets/TarotGuinea.png");
  }

  .incorrect {
    background-color: #9E2D3A;
    border: #72111C;
    box-shadow: 0px 4px 0px #72111C;
  }

  .incorrect:hover {
      background-color: #72111C;
  }

  &.lesson-card {
    background-color: #fff;
  }

  &.medium-button:hover {
    background-color: #5A930E;
    box-shadow: 0px 4px 0px #402944;
  }

  &.medium-button {
    background-color: #BCE784;
    border: #BCE784;
    box-shadow: 0px 4px 0px #5A930E;
  }

  &.mode-button {
    background-color: #001514;
    background-image: url("../assets/moon.svg");
  }

  textarea {
    border: 2px solid #E8E8FF;
    background-color: #F4F4F7;
  }
}