.back-home {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  height: 50px;
  width: 50px; }

.lesson-card, .final-card {
  border-radius: 10px;
  padding: 15px;
  height: 400px;
  width: 250px; }

.lesson-card.matching section {
  padding: 15px;
  height: fit-content;
  width: 85%; }

.match-button {
  border-radius: 8px;
  padding: 8px;
  margin: 3px; }

.final-card {
  background-size: cover; }

.lesson-card .medium-button {
  padding: 10px;
  width: 75%; }

form {
  height: 100%; }

textarea {
  border-radius: 15px;
  margin: 15px 0;
  padding: 10px;
  height: 60%;
  width: 75%;
  resize: none; }
