.back-home {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  height: 50px;
  width: 50px; }

.lesson-card, .final-card {
  border-radius: 10px;
  padding: 15px;
  height: 400px;
  width: 250px; }

.match-button.selected {
  background-color: aqua; }

.match-button.correct {
  background-color: green; }

.match-button.incorrect {
  background-color: red; }

.final-card {
  background-size: cover; }

.lesson-card .medium-button {
  padding: 10px;
  width: 75%; }

form {
  height: 100%; }

textarea {
  border-radius: 15px;
  margin: 15px 0;
  padding: 10px;
  height: 60%;
  width: 75%;
  resize: none; }
