.lesson-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  height: 400px;
  width: 250px; }

.disabled {
  background-color: #D0D0E5;
  color: #000;
  border: #534656;
  box-shadow: 0px 4px 0px #534656; }

.incorrect {
  background-color: #9E2D3A;
  border: #72111C;
  box-shadow: 0px 4px 0px #72111C; }

.incorrect:hover {
  background-color: #72111C; }

.lesson-card .medium-button {
  padding: 10px;
  width: 75%; }

form {
  height: 100%; }

textarea {
  border-radius: 15px;
  border: 2px solid #E8E8FF;
  margin: 15px 0;
  padding: 10px;
  background-color: #F4F4F7;
  height: 60%;
  width: 75%;
  resize: none; }

.flip-container {
  perspective: 1000px; }

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 320px;
  height: 480px; }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg); }
